@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<body>
    <h3>LISTADO HEROES</h3>

    <table cellpading="2" cellspacing="2" border="1" width="900">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Atributo</th>
            <th>Tipo</th>
            <th>Complejidad</th>
        </tr>
        @foreach (var heroes in ViewBag.ListarHeroes)
        {
        <tr>
            <th>@heroes.Id</th>
            <th>@heroes.Nombre</th>
            <th>@heroes.Atributo</th>
            <th>@heroes.Tipo</th>
            <th>@heroes.Complejidad</th>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = heroes.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = heroes.Id })
            </td>
        </tr>
        }
    </table>
  </body>
</html>

