@model WebMVC_eSport.Models.EQUIPO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EQUIPO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisEquipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEquipo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
